<h2><%= l(:label_chatty_crow_channel_new) -%></h2>

<%= labelled_form_for @chatty_crow_channel do |f| %>
  <%= render partial: 'form', locals: {f: f} %>
  <%= submit_tag l(:button_create) %>
<% end %>
